In [1]:
import pandas as pd

In [2]:
fact_homicidios = pd.read_excel('./data/homicidios.xlsx', sheet_name='HECHOS')
victim_homicidios = pd.read_excel('./data/homicidios.xlsx', sheet_name='VICTIMAS')

## Normalize column names

In [148]:
def convert_column_names(df):
    df.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)

In [149]:
convert_column_names(fact_homicidios)
convert_column_names(victim_homicidios)

In [150]:
fact_homicidios.columns

Index(['id', 'n_victimas', 'fecha', 'aaaa', 'mm', 'dd', 'hora', 'hh',
       'lugar_del_hecho', 'tipo_de_calle', 'calle', 'altura', 'cruce',
       'dirección_normalizada', 'comuna', 'xy_(caba)', 'pos_x', 'pos_y',
       'participantes', 'victima', 'acusado'],
      dtype='object')

In [151]:
victim_homicidios.columns

Index(['id_hecho', 'fecha', 'aaaa', 'mm', 'dd', 'rol', 'victima', 'sexo',
       'edad', 'fecha_fallecimiento'],
      dtype='object')

Column names are standardized to lowercase and underscores.

## Duplicates

In [152]:
fact_homicidios.duplicated().sum()

0

In [153]:
victim_homicidios.duplicated().sum()

0

No duplicates in any df.

## Nulls

In [154]:
fact_homicidios.isnull().sum()

id                         0
n_victimas                 0
fecha                      0
aaaa                       0
mm                         0
dd                         0
hora                       0
hh                         0
lugar_del_hecho            0
tipo_de_calle              0
calle                      1
altura                   567
cruce                    171
dirección_normalizada      8
comuna                     0
xy_(caba)                  0
pos_x                      0
pos_y                      0
participantes              0
victima                    0
acusado                    0
dtype: int64

In the EDA it was found that only <code>fact_homicides</code> contained null values, so we will only work with it at that stage.

In [155]:
fact_homicidios = fact_homicidios.drop('altura', axis=1)
fact_homicidios = fact_homicidios.drop('cruce', axis=1)
fact_homicidios = fact_homicidios.drop('hora', axis=1)

In [156]:
fact_homicidios[fact_homicidios['pos_x'] == '.'].shape

(12, 18)

In [157]:
fact_homicidios[fact_homicidios['pos_y'] == '.'].shape

(12, 18)

Although in the columns <code>pos_x</code> and <code>pos_y</code> there are no null values, there are rows without an important data, so they will also be eliminated as they are a minimum quantity.

In [158]:
fact_homicidios = fact_homicidios[(fact_homicidios['pos_x'] != '.') & (fact_homicidios['pos_y'] != '.')]

In [159]:
fact_homicidios.shape

(684, 18)

In [160]:
fact_homicidios.head()

,id,n_victimas,fecha,aaaa,mm,dd,hh,lugar_del_hecho,tipo_de_calle,calle,dirección_normalizada,comuna,xy_(caba),pos_x,pos_y,participantes,victima,acusado
0,2016-0001,1,2016-01-01,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [161]:
fact_homicidios = fact_homicidios[fact_homicidios['hh'] != 'SD']

In [162]:
fact_homicidios['hh'] = fact_homicidios['hh'].astype(int)

## Whitespace

In [163]:
def remove_whitespace(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].str.strip()

    return df

In [164]:
fact_homicidios = remove_whitespace(fact_homicidios)

Blank spaces to the left and right of all text values are removed.

## Export to CSV

In [166]:
fact_homicidios.to_csv('./data/homicidios.csv', index=False)

In [170]:
victim_homicidios.to_csv('./data/victimas.csv', index=False)

After cleaning and transformation, the df are exported for dashboard creation.